// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&lt 2 Q         &kp W               &kp E  &kp R      &kp T             &kp Y             &kp U  &kp I      &kp O                  &kp P
&kp A           &kp S               &kp D  &kp F      &kp G             &kp H             &kp J  &kp K      &kp L                  &kp SEMICOLON
&ht LEFT_ALT Z  &ht LEFT_COMMAND X  &kp C  &kp V      &kp B             &kp N             &kp M  &kp COMMA  &ht RIGHT_COMMAND DOT  &ht RIGHT_ALT SLASH
                                           &kp SPACE  &sk LEFT_SHIFT    &kp LEFT_CONTROL  &sl 1
            >;

            label = "default";
        };

        digits_layer {
            bindings = <
&kp TAB   &kp LS(UNDER)  &kp LBKT      &kp RBKT      &mt PIPE SINGLE_QUOTE    &mt BACKSLASH GRAVE  &kp N7     &kp N8  &kp N9  &kp N0
&kp ESC   &kp EQUAL      &kp LS(LPAR)  &kp LS(RPAR)  &kp LS(DQT)              &kp LS(PLUS)         &kp EQUAL  &kp N5  &kp N6  &kp RET
&kp BSPC  &kp MINUS      &kp LS(LBRC)  &kp LS(RBRC)  &kp LS(TILDE)            &kp N0               &kp N1     &kp N2  &kp N3  &trans
                                       &to 0         &none                    &trans               &trans
            >;

            label = "digits";
        };

        functional_layer {
            bindings = <
&trans  &trans  &kp F3  &trans  &kp F3    &trans        &trans    &trans  &trans     &none
&trans  &trans  &trans  &trans  &trans    &kp LEFT      &kp DOWN  &kp UP  &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans    &trans        &trans    &trans  &trans     &trans
                        &trans  &trans    &lt 3 ESCAPE  &trans
            >;

            label = "functional";
        };

        system_layer {
            bindings = <
&sys_reset   &trans  &trans  &trans      &bt BT_SEL 0    &trans  &trans  &trans  &trans  &sys_reset
&bootloader  &trans  &trans  &trans      &bt BT_SEL 1    &trans  &trans  &trans  &trans  &bootloader
&trans       &trans  &trans  &bt BT_CLR  &bt BT_SEL 2    &trans  &trans  &trans  &trans  &trans
                             &trans      &trans          &trans  &trans
            >;

            label = "sys";
        };
    };
};
